1️⃣ List Comprehension

In [84]:
squre = [x**2 for x in range(1,6)]
squre

[1, 4, 9, 16, 25]

In [85]:
squre = [x**2 for x in range(1,6)]
squre

[1, 4, 9, 16, 25]

In [86]:
quebe=[x**3 for x in range(1,6)]
quebe

[1, 8, 27, 64, 125]

In [108]:
num1=[1,2,3,2,4,89,29,10]
squre = [x**2 for x in num1 if x%2==0]
squre

[4, 4, 16, 100]

In [109]:
num2=[20,10,24,22,19,35,91]
squre= [x**2 for x in num2 if x%2!=0]
squre

[361, 1225, 8281]

1️⃣Dictionary Comprehension

In [89]:
squre_dic={x:x**2 for x in range(1,6)}

In [90]:
squre_dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [91]:
dic={x:x**3 for x in range(1,6) if x%2==0}
dic

{2: 8, 4: 64}

2️⃣ Functions – args, kwargs, multiple return

In [92]:
def function_name(parameters):
    #code
    return result

In [93]:
def greet(name):
    return f"Hello {name}!"
greet("Jonny")

'Hello Jonny!'

In [94]:
def c_name(*name):
    return name
c_name("jony",10,["kop"],('a',))

('jony', 10, ['kop'], ('a',))

In [95]:
def add_number(*num):
    print(num)
    return sum(num)
add_number(12,23,12,43,4)

(12, 23, 12, 43, 4)

94

In [96]:
def greet_people(*names):
    for name in names:
        print(f"Hello {name}")
greet_people("Jony", "Rahim", "Karim")

Hello Jony
Hello Rahim
Hello Karim

In [97]:
def function_name(**kwargs):
    print(kwargs)

In [98]:
def person_info(**kwargs):
    print(kwargs)
person_info(name="jony",age=28,city="Dhaka")

{'name': 'jony', 'age': 28, 'city': 'Dhaka'}

In [99]:
def person_info(**kwargs):
    for kye,value in kwargs.items():
        print(f"{kye}:{value}")
person_info(name="Rahim",age=30,profession="Teacher")

name:Rahim
age:30
profession:Teacher

4️⃣ Function Returning Multiple Values

In [100]:
def arithmetic(a,b):
    sum_val=a+b
    product_val=a*b
    return sum_val,product_val

arithmetic(20,10)

(30, 200)

In [101]:
def ststistic(num):
    return min(num),max(num),sum(num)/len(num)
number=[10,20,30,40]
min_v,max_v, avg_v=ststistic(number)

In [102]:
min_v

10

In [103]:
max_v

40

In [104]:
avg_v

25.0

In [105]:
def student_report(*grades,**info):
    total=sum(grades)
    average=total/len(grades)
    print("Student info: ",info)
    return total,average
total,average=student_report(80, 90, 85, name="Jony", grade="A", city="Dhaka")
print("Total:",total,"Average:",average)

Student info:  {'name': 'Jony', 'grade': 'A', 'city': 'Dhaka'}
Total: 255 Average: 85.0

In [112]:
print("Hello worlds")

Hello worlds