In [1]:
try:
    x=10/0
    print("result",x)
except:
    print("Error: cannont divided by Zero")

Error: cannont divided by Zero

In [4]:
try:
    x = int("Hello") 
except ValueError:
    print("Error: ")

Error:

In [7]:
try:
    num=int(input("Enter a number:"))
    result=10/num
except ZeroDivisionError:
    print("Error:cannot divide by zero")
except ValuError:
    print("Error:only except number")

Enter a number: "yu"

NameError: name 'ValuError' is not defined

In [8]:
try:
    f=open("text.txt")
    print(f.read())
except FileNotFoundError:
    print("Error:file cannot find")
finally:
    print("Finally block ")

Error:file cannot find
Finally block

In [21]:
file=open("test.txt","w")
file.write("Hello,Python!\n")
file.write("This is my first file writing.")
file.close()

In [22]:
file

In [23]:
file=open("test.txt","r")
data=file.read()
print(data)
file.close()

Hello,Python!
This is my first file writing.

In [24]:
file=open("test.txt","r")
for line in file:
    print("line:",line.strip())
file.close()

line: Hello,Python!
line: This is my first file writing.

In [25]:
with open("test.txt","a")as file:
    file.write("\nNew line added!")

In [26]:
import csv

with open("data.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "City"])
    writer.writerow(["Jony", 25, "Dhaka"])
    writer.writerow(["Rafi", 30, "Chittagong"])

In [27]:
import csv

with open("data.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Jony', '25', 'Dhaka']
['Rafi', '30', 'Chittagong']